html, body {
  width: auto !important;
  overflow-x: hidden !important; }

header {
  font-family: cursive;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-image: url(../images/snowflake.png);
  background-color: #D4EEF0;
  background-repeat: no-repeat;
  background-position: 50px;
  background-size: 8%;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); }

title {
  display: block;
  text-align: center; }

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #A5D7E2; }

p {
  font-size: 16px; }

p.small {
  font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: white;
  border-color: #A5D7E2; }

header li {
  display: inline;
  margin: 25px;
  margin-left: 25px;
  margin-right: 25px; }

header li a {
  color: #135A72; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-transform: uppercase;
  font-family: Gill Sans, Verdana;
  font-weight: 700; }

header .container {
  padding-top: 100px;
  padding-bottom: 50px; }

header img {
  display: block;
  margin: 0 auto 20px; }

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700; }

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
  color: #1bae65;
  cursor: pointer; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px; }

  header .intro-text .name {
    font-size: 4.75em; }

  header .intro-text .skills {
    font-size: 1.75em; }

  .navbar-fixed-top {
    padding: 10px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s; }

  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s; }

  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0; }

  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em; } }
.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: green; }

.navbar a:focus {
  outline: 0; }

.navbar .navbar-nav {
  letter-spacing: 1px; }

.navbar .navbar-nav li a:focus {
  outline: 0;
  color: #1bae65; }

.navbar-default,
.navbar-inverse {
  border: 0; }

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out; }

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #18bc9c;
  background: #fff; }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee; }

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none !important;
  resize: none; }

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #18bc9c; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee; }

footer {
  color: #1bae65; }

footer h3 {
  margin-bottom: 30px; }

footer .footer-above {
  padding-top: 50px;
  background-color: #fff; }

footer .footer-col {
  margin-bottom: 50px;
  text-align: left; }

footer .footer-below {
  padding: 25px 0;
  background-color: #A5D7E2; }

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px; }

.btn:focus,
.btn:active,
.btn.active {
  outline: 0; }

.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px; }

.scroll-top .btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 28px; }

.scroll-top .btn:focus {
  outline: 0; }

.activated {
  background-color: red;
  color: red; }

.cabecalho {
  display: inline;
  color: white;
  list-style: none; }

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.linha {
  margin-right: -15px;
  margin-left: -15px; }
  .linha:before {
    display: table;
    content: " "; }
  .linha:after {
    display: table;
    content: " ";
    clear: both; }

.logo {
  width: 8%;
  position: relative;
  float: left;
  left: 15vw;
  top: 5px;
  margin-bottom: 0; }

.box-item {
  width: 33%; }

.box-border {
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border: 2px double white;
  cursor: pointer;
  height: 285px;
  background: #e1ffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e1ffff), color-stop(7%, #e1ffff), color-stop(12%, #e1ffff), color-stop(12%, #fdffff), color-stop(30%, #e6f8fd), color-stop(54%, #c8eefb), color-stop(75%, #bee4f8), color-stop(100%, #b1d8f5));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.elemento {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px; }

label {
  text-align: center;
  cursor: crosshair; }

.price {
  text-align: center; }

.alinhar {
  position: relative;
  padding: 15px; }

.coluna-total {
  width: 100%; }

.duas-colunas {
  width: 50%; }

.tres-colunas {
  width: 33%; }

.quatro-colunas {
  width: 25%; }

.coluna-total, .duas-colunas, .tres-colunas, .quatro-colunas, .coluna-total-TABLET, .duas-colunas-TABLET, .tres-colunas-TABLET, .quatro-colunas-TABLET, .coluna-total-PC, .duas-colunas-PC, .tres-colunas-PC, .quatro-colunas-PC {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .coluna-total-TABLET {
    width: 100%; }

  .duas-colunas-TABLET {
    width: 50%; }

  .tres-colunas-TABLET {
    width: 33%; }

  .quatro-colunas-TABLET {
    width: 25%; } }
@media (min-width: 992px) {
  .coluna-total-PC {
    width: 100%; }

  .duas-colunas-PC {
    width: 50%; }

  .tres-colunas-PC {
    width: 33%; }

  .quatro-colunas-PC {
    width: 25%; } }

/*# sourceMappingURL=main.css.map */
